/* Sidebar elegante en blanco y negro */
.sidebar {
  position: fixed;
  top: 60px; /* Espacio para el navbar */
  left: 0;
  width: 250px;
  height: 100vh;
  background-color: #000000;  /* Fondo negro puro */
  transition: width 0.4s ease;
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.3);  /* Sombra suave */
  z-index: 1000;
  padding-top: 20px;
}

.sidebar.collapsed {
  width: 80px; /* Ancho reducido cuando está colapsado */
}

/* Logo del sidebar */
.logo {
  text-align: center;
  margin-bottom: 40px;
}

.logo-image {
  width: 50px;
  height: auto;
  transition: transform 0.3s ease;
  border-radius: 50%;  /* Avatar circular */
  border: 1px solid #ffffff;  /* Borde blanco */
}

.menu {
  list-style-type: none;
  padding: 0;
  font-family: 'Roboto', sans-serif;  /* Fuente moderna */
}

.menu li {
  margin: 20px 0;
}

.menu li a {
  text-decoration: none;
  color: #ffffff;  /* Texto blanco */
  font-size: 18px;
  display: flex;
  align-items: center;
  padding: 10px 20px;
  transition: background-color 0.3s ease, color 0.3s ease;
  border-radius: 4px;
}

.menu li a i {
  margin-right: 15px;
  font-size: 24px;
  color: #888888;  /* Íconos en gris claro */
}

.menu li a:hover {
  background-color: #333333;
  color: #ffffff;
}

/* Estilo cuando el sidebar está colapsado */
.sidebar.collapsed .menu li a {
  justify-content: center;
}

.sidebar.collapsed .menu li a span {
  display: none;  /* Ocultar los textos cuando está colapsado */
}
