.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f5f8ff; /* Color de fondo */
  color: #ffffff;
  padding: 0.5rem 1rem;
  height: 60px;
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
}

.navbar-left {
  display: flex;
  align-items: center;
}

.navbar-toggle, .navbar-fullscreen {
  background: none;
  border: none;
  color: #0877c2;
  font-size: 1.5rem;
  cursor: pointer;
  margin-right: 1rem;
}

.navbar-right {
  display: flex;
  align-items: center;
}

.navbar-icon {
  font-size: 1.2rem;
  margin-right: 1rem;
  cursor: pointer;
  color: #0877c2;
  transition: color 0.3s ease;
}

.navbar-icon:hover {
  color: #0d8de2; /* Color al hacer hover */
}

.navbar-user {
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
  padding: 0.5rem;
  border-radius: 8px;
  transition: background-color 0.3s ease;
  user-select: none;
}

.navbar-user:hover {
  background-color: #d0d1d159; /* Color de fondo al hacer hover */
}

.navbar-username {
  font-weight: bold;
  margin-right: 0.3rem;
  color: #0877c2;
  text-decoration: none;
  user-select: none;
}

.username-caret {
  font-size: 0.8rem;
  color: #0877c2;
}

.navbar-dropdown {
  display: block;
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #ffffff;
  color: #444;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  width: 150px;
  padding: 0.5rem 0;
  font-size: 0.9rem;
  text-align: left;
  z-index: 100;
}

.navbar-dropdown a {
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
  color: #444;
  text-decoration: none;
  transition: background 0.2s;
}

.navbar-dropdown a:hover {
  background-color: #f0f0f0;
}

.logout-link {
  color: #ff4d4d;
}

.logout-link i {
  color: #ff4d4d;
}
