/* src/components/Sidebar.css */

.sidebar {
  position: fixed;
  top: 60px; /* Espacio para el Navbar */
  left: 0;
  width: 250px; /* Ancho del sidebar */
  height: calc(100vh - 60px); /* Altura de la pantalla menos el navbar */
  background-color: #343a40;
  color: #ffffff;
  overflow-y: auto; /* Permitir scroll en el sidebar si es necesario */
  padding-top: 20px;
}


.sidebar-nav ul {
  list-style: none;
  padding: 0;
}

.sidebar-nav ul li {
  margin: 10px 0;
}

.sidebar-nav ul li a {
  color: #ffffff;
  text-decoration: none;
  padding: 10px 15px;
  display: flex;
  align-items: center;
}

.sidebar-nav ul li a i {
  margin-right: 10px;
}

.sidebar-nav ul li a:hover {
  background-color: #495057;
  border-radius: 4px;
}
