/* Contenedor principal */
.app-container {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.app-container.login-mode {
  justify-content: center;
  align-items: center;
  background-color: #f5f8ff;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

/* Sidebar fijo */
.sidebar-container {
  width: 250px;
  background-color: #343a40;
  color: #ffffff;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
}

/* Contenedor principal para navbar y contenido */
.main-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-left: 250px;
}

.main-container.full-width {
  margin-left: 0;
}

/* Navbar fijo en la parte superior */
.navbar-container {
  height: 60px;
  background-color: #007bff;
  position: sticky;
  top: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
}

/* Contenedor del área de trabajo */
.content-container {
  flex-grow: 1;
  background-color: #f5f5f5;
  padding: 20px;
  overflow-y: auto;
}
