@import './variables';

.container {
  padding: 5px;
  background-color: $light-color;
  border-radius: $border-radius;
  box-shadow: $box-shadow;
  width: 100%;
  max-width: none;
  overflow-x: auto;

  .table-header {
    display: flex;
    flex-wrap: wrap; // Permite que los elementos se ajusten en una nueva línea si es necesario
    justify-content: space-between;
    align-items: center;
    gap: 10px; // Espacio entre los elementos en dispositivos pequeños
    margin-bottom: $spacing-unit;

    .add-button {
      background-color: $primary-color;
      color: white;
      padding: 10px 15px;
      border: none;
      border-radius: $border-radius;
      text-decoration: none;
      cursor: pointer;
      display: flex;
      align-items: center;
      font-weight: bold;
      font-size: $font-size-base;
      margin-right: 10px;

      &:hover {
        background-color: darken($primary-color, 10%);
      }

      i {
        margin-right: 5px;
      }
    }

    .search-container {
      display: flex;
      align-items: center;
      gap: 10px;
      flex-wrap: wrap; // Permite que los elementos se ajusten debajo en dispositivos pequeños
    }

    .search-input {
      padding: 10px;
      border: 1px solid $table-border-color;
      border-radius: $border-radius;
      width: 250px; // Ancho ajustado para pantallas pequeñas
      outline: none;
      font-size: $font-size-base;
      margin-top: 10px; // Espacio superior en pantallas pequeñas

      &:focus {
        border-color: $primary-color;
      }
    }

    .btn-secondary {
      padding: 8px 10px;
      display: flex;
      align-items: center;
      margin-right: 10px;
      margin-top: 10px;

      i {
        margin-right: 5px;
      }
    }
  }

  .table-responsive {
    overflow-x: auto;
    margin-top: 10px;
  }

  .table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 0;
    font-size: $font-size-md;

    th, td {
      padding: 12px 15px;
      border: 1px solid $table-border-color;
      text-align: left;
      white-space: nowrap;
    }

    th {
      background-color: $primary-color;
      color: white;
      font-size: $font-size-lg;
      text-align: center;
      border-bottom: 2px solid darken($primary-color, 10%);
    }

    td {
      color: $dark-color;
      background-color: white;
      text-align: center;
    }

    tr:nth-child(even) {
      background-color: $light-color;
    }

    tr:hover {
      background-color: lighten($primary-color, 20%);
    }

    .btn {
      padding: 5px 10px;
      border-radius: $border-radius;
      cursor: pointer;
      font-size: $font-size-base;
      text-align: center;
      display: inline-block;

      &.btn-info {
        background-color: #007BFF;
        color: white;
      }

      &.btn-danger {
        background-color: $danger-color;
        color: white;
      }

      &:hover {
        filter: brightness(85%);
      }
    }
  }

  .estado {
    padding: 5px 10px;
    border-radius: $border-radius;
    font-weight: bold;
    color: white;
    text-align: center;

    &.activo {
      background-color: #28a745;
    }

    &.inactivo {
      background-color: #dc3545;
    }
  }

  .pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 10px;
  
    button {
      padding: 8px 16px;
      font-size: $font-size-base;
      background-color: $primary-color;
      color: white;
      border: none;
      border-radius: $border-radius;
      cursor: pointer;
  
      &:hover {
        background-color: darken($primary-color, 10%);
      }
  
      &:focus {
        outline: none;
      }

      &.active {
        background-color: darken($primary-color, 20%);
      }
    }
  }

  .actions {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
  }

  .chip {
    display: inline-block;
    padding: 5px 12px;
    font-size: $font-size-sm;
    font-weight: bold;
    border-radius: 30px;
    color: white;
    text-align: center;
    white-space: nowrap;

    &.stock {
      &.high { background-color: #28a745; }
      &.medium { background-color: #ffc107; }
      &.low { background-color: #dc3545; }
    }

    &.estado {
      &.activo { background-color: #28a745; }
      &.inactivo { background-color: #dc3545; }
    }
  }
}
